.header-container {
  background-color: $violet;
  position: relative;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(115px);
    padding: 0;
    list-style-type: none;
    margin-inline-start: rem(30px);
  }

  li {
    cursor: pointer;
  }

  .profile {
    width: 27px;
    height: 27px;
  }

  .user-profile {
    display: flex;
    gap: rem(20px);
    margin-inline-end: rem(15px);
  }
}

.header-categories {
  background-color: $color2;

  ul {
    line-height: rem(20px);
    letter-spacing: -0.24px;
    margin: 0;
    margin-inline: rem(32px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    height: rem(80px);
  }

  a {
    font-family: PoppinsRegular;
    font-size: rem(17px);
    color: $color1;
  }
}
