@font-face {
  font-family: PoppinsRegular;
  src: url(../../../../src/assets/fonts/Poppins/PoppinsRegular.ttf);
}
@font-face {
  font-family: PoppinsMedium;
  src: url(../../../../src/assets/fonts/Poppins/PoppinsMedium.ttf);
}
@font-face {
  font-family: PoppinsSemiBold;
  src: url(../../../../src/assets/fonts/Poppins/PoppinsSemiBold.ttf);
}
@font-face {
  font-family: PoppinsBold;
  src: url(../../../../src/assets/fonts/Poppins/PoppinsBold.ttf);
}

@font-face {
  font-family: OpenRegular;
  src: url(../../../../src/assets/fonts/OpenSans/OpenRegular.ttf);
}
@font-face {
  font-family: OpenBold;
  src: url(../../../../src/assets/fonts/OpenSans/OpenBold.ttf);
}
