@font-face {
  font-family: PoppinsRegular;
  src: url(.././fonts/Poppins/PoppinsRegular.ttf);
  font-display: swap;
}
@font-face {
  font-family: PoppinsMedium;
  src: url(.././fonts/Poppins/PoppinsMedium.ttf);
  font-display: swap;
}
@font-face {
  font-family: PoppinsSemiBold;
  src: url(.././fonts/Poppins/PoppinsSemiBold.ttf);
  font-display: swap;
}
@font-face {
  font-family: PoppinsBold;
  src: url(.././fonts/Poppins/PoppinsBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: OpenRegular;
  src: url(.././fonts/OpenSans/OpenRegular.ttf);
  font-display: swap;
}
@font-face {
  font-family: OpenBold;
  src: url(.././fonts/OpenSans/OpenBold.ttf);
  font-display: swap;
}
