@font-face {
  font-family: PoppinsRegular;
  src: url(../../../../src/assets/fonts/Poppins/PoppinsRegular.ttf);
}
@font-face {
  font-family: PoppinsMedium;
  src: url(../../../../src/assets/fonts/Poppins/PoppinsMedium.ttf);
}
@font-face {
  font-family: PoppinsSemiBold;
  src: url(../../../../src/assets/fonts/Poppins/PoppinsSemiBold.ttf);
}
@font-face {
  font-family: PoppinsBold;
  src: url(../../../../src/assets/fonts/Poppins/PoppinsBold.ttf);
}

@font-face {
  font-family: chunkRegular;
  src: url(../../../../src/assets/fonts/chunkfive/chunkRegular.otf);
}

@font-face {
  font-family: domainDisplay;
  src: url(../../../../src/assets/fonts/domainDisplay/domaineDisplay-medium-italics.ttf);
}
